.head{

    background-color: #0cb0da;
    color:bisque;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
h2{
    text-align: center;
    color: #0cb0da;
    font-family: Arial, sans-serif;

}